@keyframes dance {
    0% {
      left: 0px;
    }
    25% {
      left: 2px;
    }
    50% {
      left: -2px;
    }
    75% {
      left: 2px;
    }
    100% {
      left: 0px;
    }
  }

  body {
    background-color: lightgray;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  .deleteIcon {
    position: relative;
    width: 18px;
    top: 0px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
    transition: all 0.2s;
  }

  .deleteIcon:hover {
    animation: dance .2s;
  }

  #newValue {
    position: relative;
    font-size: 1.1em;
    height: 30px;
    /* border: solid 4px transparent; */
    padding: 10px;
    height: 36px;
  }

  .element {
    list-style: none;
    background-color: rgb(124, 108, 138);
    padding: 10px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 8px;
    color: white;
    font-weight: 200;
    font-size: 1.1em;
    border: solid 2px transparent

  }

  #elementList {
    padding: 0;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: none;
  }

  h1 {
    text-align: center;
  }

  .container {
    position: relative;
    width: 400px;
    left: calc(50% - 232px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    border: solid 1px darkgrey;
    background-color: white;
    padding: 30px;
  }

  .container div {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
  }

  #random {
    width: 20px;
    padding: 8px;
    margin-bottom: 5px;
    border-radius: 50%;
    background-color: rgb(124, 108, 138);
    transition: all .2s;
  }

  #random:hover{
    transition: all .2s;
    cursor: pointer;
  }

  #random:active{
    transition: all .2s;
    transform: scale(.9);

  }

  h2 {
    position: relative;
    padding-bottom: 10px;
    font-size: 2em;
    font-weight: 200;
    margin-top: 15px;
  }

  #add {
    background-color: rgb(124, 108, 138);
    position: absolute;
    width: 32px;
    height: 32px;
    text-align: center;
    top: 1px;
    color: white;
    border: none;
    text-transform: uppercase;
    border-radius: 50%;
    transition: all 0.2s;
    margin-left: 10px;
    left: 240px;
  }

  #add:hover {
    cursor: pointer;
    transition: all 0.2s;
    opacity: 0.5;
  }

  .container > div:nth-child(3) {
    flex-direction: row;
    justify-content: space-between;
  }

  #dest {
    position: relative;
    width: 100%;
    margin-left: 20px;
    font-size: 1.3em;
  }

  .error {
    animation:dance .2s;
    border: solid 4px rgb(223, 111, 111);
  }

  @media only screen and  (max-width: 480px) {
    .container{
      max-width: 400px !important;
      left: auto !important;
    }
  }